/*
font-family: 'Pavanam', sans-serif;
font-family: 'Catamaran', sans-serif;
font-family: 'Josefin Sans', sans-serif;
*/

body {
    width: 1300px;
    margin: auto;
    font-family: 'Josefin Sans', sans-serif;
}
header {
    width: 1300px;
    height: 70px;
    background: linear-gradient(#FCF8F8,#F2EFEF);
    border-bottom: 2px solid #D2D1D1;
}
header ul {
    list-style-type: none;
    margin: 0;
    padding:0;
}
header li {
    padding: 6px 10px;
    float: right;
}
.header_list {
    padding: 3px 10px;
    font-size: 1.2em;
}
header li a {
    display: inline-block;
    color: black;
    text-align: center;
    text-decoration: none;
}
header li:nth-child(2) {
    border-right: 1px solid black;
    border-left: 1px solid black;
}

.clearfix::after{
    content: " ";
    display: block;
    height: 0;
    clear: both;
}
.header_firstrow {
    padding: 7px;
}
.header_secondrow {
    float: right;
}
.button_header {
    background-color: #D1186F;
    color: #FFFFFF;
    border-radius: 7px;
    font-weight: bold;
    height: 25px;
    width: 95px; 
    font-size: 12px;
    margin: 7px;
    float: right;
}
.header_second {
    color: #D1186F;
    font-weight: bold;
}


    